:root{
    --first_color: rgb(238, 0, 0);
    --second_color: white;
    --third_color: black;
}

body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: var(--third_color);
}

a{
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bolder;
}

#torna_su_btn{
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: var(--second_color);
    background-color: var(--first_color);
    
}

#torna_su_btn:hover{
    background-color: rgb(207, 0, 0);
}

nav {
    display: flex;
    height: 75px;
    background-color:var(--third_color);
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: var(--second_color);
}

nav a:hover{
    background-color: rgba(255, 255, 255, 0.3);
    color: var(--third_color);
}

header{
    width: 100%;
    height: 350px;
    background-image: url("immagini/header_img.jpg");
    background-repeat: no-repeat;
    background-position: right;
}

#overlay_header{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

#titolo{
    color: var(--second_color);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    width: 700px;
    text-align: center;
}

#logo_nav{
    width: 65px;
    height: 65px;
}

#profile_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 2px solid darkolivegreen;*/
    margin-bottom: 60px;
}

#profile_img {
    width: 100px;
    height: 100px;
    margin-top: -50px;
    border-radius: 50px;
    margin-bottom: 6px;

}

#profile_container h4{
    margin-top: 6px;
    margin-bottom: 2px;
}

#profile_container em{
    font-size: 0.75em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3); 
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

ol{
    width: calc(66.67% + 40px);
    /*border: 2px solid lime;*/
}

@media (max-width: 700px){
    ol{
        width: 90%;
    }
}

.sezione{
    font-weight: bold;
    color:var(--first_color);
    /*border:  2px solid magenta;*/
}

.rettangoli_grigi{
    background-color: rgb(236, 236, 236);
    border-radius: 20px;
    padding: 1px 30px;
    margin-left: 40px;
    margin-bottom: 40px;
    line-height: 25px;
    text-align: justify;
    font-weight: normal;
    color: var(--third_color);
}


.container_img{
    /*border: 2px solid magenta;*/
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.container_img img{
    width: 90%;
}

footer {
    height: 100px;
    background-color: var(--first_color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--second_color);
}

